[submodule "soc-generator/generator/diplomacy"]
	path = soc-generator/generator/diplomacy
	url = https://github.com/chipsalliance/diplomacy.git
[submodule "soc-generator/generator/hardfloat"]
	path = soc-generator/generator/hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat.git
[submodule "soc-generator/generator/rocket-chip"]
	path = soc-generator/generator/rocket-chip
	url = https://github.com/SEU-ACAL/rocket-chip.git
[submodule "soc-generator/generator/rocket-chip-inclusive-cache"]
	path = soc-generator/generator/rocket-chip-inclusive-cache
	url = https://github.com/SEU-ACAL/rocket-chip-inclusive-cache.git
[submodule "dependencies/tools/DRAMSim2"]
	path = dependencies/tools/DRAMSim2
	url = https://github.com/firesim/DRAMSim2.git
[submodule "dependencies/tools/cde"]
	path = dependencies/tools/cde
	url = https://github.com/chipsalliance/cde.git
[submodule "soc-generator/generator/boom"]
	path = soc-generator/generator/boom
	url = https://github.com/SEU-ACAL/acal-boom.git
[submodule "soc-generator/generator/gemmini"]
	path = soc-generator/generator/gemmini
	url = https://github.com/ucb-bar/gemmini.git
[submodule "applications/riscv-tests"]
	path = applications/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "applications/zephyr"]
	path = applications/zephyr
	url = https://github.com/ucb-bar/zephyr.git
[submodule "dependencies/p2e-runner"]
	path = dependencies/p2e-runner
	url = https://github.com/SEU-ACAL/p2e_runner.git
	branch = main
[submodule "applications_linux_buildroot"]
	path = applications/linux-workloads/buildroot
	url = https://github.com/buildroot/buildroot.git
